.create-post-wrap {
  padding: 15px;
  text-align: center;
  .button-create-post {
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
    color: #000;
    cursor: pointer;
    display: block;
    font-size:16px;
    font-weight: 400;
    line-height: 45px;
    max-width: 315px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    @media(min-width: 400px) {
      display: inline-block;
      // margin-right: 2.5em;
      &:nth-of-type(even) {
        margin-right: 0;
      }
    }
    @media(min-width: 600px) {
      &:nth-of-type(even) {
        margin-right: 2.5em;
      }
      &:nth-of-type(5) {
        margin-right: 0;
      }
    }
    &:hover { text-decoration: none; }
  }
  .button-create-post-dynamic-hover {
    letter-spacing: 0;
  }
  .button-create-post-dynamic-hover:hover, .button-create-post-dynamic-hover:active {
    letter-spacing: 5px;
  }
  .button-create-post-dynamic-hover:after, .button-create-post-dynamic-hover:before {
    backface-visibility: hidden;
    border: 1px solid rgba(#fff, 0);
    bottom: 0;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
  }
  .button-create-post-dynamic-hover:hover:after, .button-create-post-dynamic-hover:hover:before {
    backface-visibility: hidden;
    border-color: #000;
    transition: width 350ms ease-in-out;
    width: 70%;
  }
  .button-create-post-dynamic-hover:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
  }
  .create-post-form-wrap {
    padding: 15px;
    .create-post-items {
      display: flex;
      flex-direction: column;
      width: 25%;
      margin: 20px auto;
      .create-post-input {
        width: 100%;
        border: none;
        padding: 5px;
        outline: none;
      }
      .cool-link {
        margin: 10px 0;
        display: inline-block;
        color: #000;
        text-decoration: none;
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: #000;
          transition: width .3s;
        }
        &:hover::after {
          width: 100%;
          transition: width .6s;
        }
      }
    }
    .animated-button.thar-three {
      letter-spacing: 2.5px;
      background: none;
      width: 120px;
      height: 40px;
      margin: auto;
      color: #000;
      cursor: pointer;
      display: block;
      position: relative;
      border: 2px solid #000;
      transition: all 0.1s cubic-bezier(0.42, 0, 0.58, 1);
    }
    .animated-button.thar-three:hover {
      color: #fff !important;
      background-color: transparent;
      text-shadow: nthree;
    }
    .animated-button.thar-three:hover:before {
      left: 0;
      right: auto;
      width: 100%;
    }
    .animated-button.thar-three:before {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 0;
      z-index: -1;
      content: '';
      color: #fff !important;
      background: #000;
      transition: all .2s cubic-bezier(0.42, 0, 0.58, 1);
    }
  }
}
