$backgroundColor: #fff;
$buttonColor: #fff;
$textColor: #f1ce64;
$hoverColor: #fff;
$facebook: #3B5998;
$twitter: #61c5ec;
$google: #ea4335;
$github: #000000;

.post-page-wrap {
  // padding: 15px;
  .post-page-content-wrap {
    text-shadow: 1.5px 1.2px gray;
    width: 50%;
    padding: 30px 0;
    margin: auto;
    line-height: 30px;
    font-size: 20px;
    &:first-letter {
      font-size: 60px;
      font-weight: bold;
    }
  }
  .post-page-header-parallax {
    position: relative;
    background-image: url(https://lifehacker.ru/special/meat/images/b64968bd-a3c5-4abb-89bc-3119a98fcdde__shutterstock_307201295.jpg);
    height: 700px;
    opacity: 1;
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    .post-page-header-title-wrap {
      bottom: 0;
      position: absolute;
      padding: 45px;
      font-size: 35px;
      color: white;
      text-shadow: #323232;
      ul {
        margin: auto;
        list-style: none;
        padding: 0;
        text-shadow: 1px 1px 1px black;
        .li-description {
          font-family: 'Adobe Garamond Bold Italic';
          color: white;
          font-size: 40px;
          padding: 10px;
        }
        .li-info {
          color: lightgray;
          font-size: 20px;
          padding: 10px;
          text-transform: uppercase;
        }
      }
    }
  }
  .post-page-author-wrap {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:after, &:before {
      content: '';
      display: block;
      width: 73px;
      margin: 0 auto;
      height: 1px;
      border-top: 1px solid #242427;
    }
    .post-page-author-ul {
      text-align: center;
      width: 50%;
      list-style: none;
      padding: 0;
      margin: 25px 0;
      li {
        padding: 10px 0;
      }
      .author-avatar {
        height: 110px;
        width: 110px;
        border-radius: 50%;
      }
      .post-page-author-li {
        padding: 15px;
        .post-page-author-li-post-by {
          color: gray;
          font-size: 18px;
        }
        .post-page-author-li-name {
          font-family: 'Adobe-Garamond-Pro_2012';
          font-size: 22px;
        }
      }
      .share {
        position: relative;
        span {
          width: 200px;
          line-height: 60px;
          display: inline-block;
          font-weight: 700;
          text-transform: uppercase;
          position: absolute;
          left: 50%;
          margin-left: -100px;
          opacity: 1;
          border: 1px solid black;
          border-radius: 50px;
          transition: opacity 0.45s ease-in-out;
          pointer-events: none;
        }
        nav {
          font-size: 0;
        }
        a {
          line-height: 60px;
          width: 60px;
          text-align: center;
          display: inline-block;
          background-color: $buttonColor;
          color: $buttonColor;
          overflow: hidden;
          opacity: 1;
          transition: all 0.45s ease-in-out;
          margin: 0 -20px;
          &:nth-child(1) {
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
            margin-left: 0;
            &:hover {
              background-color: $twitter;
            }
          }
          &:nth-child(2):hover {
            background-color: $facebook;
          }
          &:nth-child(3):hover {
            background-color: $google;
          }
          &:nth-child(4){
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
            margin-right: 0;
            &:hover {
              background-color: $github;
            }
          }
        }
        &:hover, &.hover {
          span {
            opacity: 0;
          }
          a {
            border-radius: 50%;
            margin: 0 10px;
            color: $textColor;
            font-size: 28px;
            &:hover {
              cursor: pointer;
              color: $hoverColor;
            }
          }
        }
      }
    }
  }
}