.article-preview {
  background-size: 120%;
  transition: all .45s ease-in-out;
  position: relative;
  height: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover {
    background-size: 100%;
    transition: all .45s ease-in-out;
    cursor: pointer;
    color: #f2ffff;
    opacity: 0.75;
  }
  background-position: center center;
}