.preview-card-wrap {
  margin: auto;
  padding: 15px 5px;
  width: 65%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2ffff;
  opacity: 0.8;
  border-radius: 5px;
  .preview-card-item {
    margin: 0 auto;
    list-style: none;
    padding: 0;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .preview-card-text-date {
      text-transform: uppercase;
      color: #323232;
      font-size: 14px;
    }
    .preview-card-text-description {
      padding: 15px 0;
      color: black;
      font-size: 25px;
      font-family: 'Adobe Garamond Bold Italic';
    }
    .slide:after{
      content:"More...";
      position:absolute;
      width:100%;
      height:100%;
      left:0;
      text-align:center;
      -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    }
    .slide:before {
      content:"Read it →";
      height:100%;
      width:100%;
      position:absolute;
      color:#000;
      left:-100%;
      opacity: 0;
      -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    }
    .slide:hover{
      background:#383736;
    }
    .slide:hover:before{
      left:0;
      opacity:1;
      color:#000;
    }
    .slide:hover:after{
      left:100%;
      opacity:0;
    }
    .slide.left:hover{
      background:none;
    }
    .slide.left:before {
      left:100%;
      color:#000;
      -webkit-transition: all 425ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    }
    .slide.left:hover:before{
      left:0;
    }
    button {
      position: relative;
      width: 150px;
      margin: 0 0 0 10px;
      font-weight: 700;
      font-size: 15px;
      letter-spacing: 2px;
      color: #000;
      border: none;
      text-transform: uppercase;
      outline: 0;
      overflow:hidden;
      background: none;
      z-index: 1;
      cursor: pointer;
      transition:         0.08s ease-in;
      -o-transition:      0.08s ease-in;
      -ms-transition:     0.08s ease-in;
      -moz-transition:    0.08s ease-in;
      -webkit-transition: 0.08s ease-in;
    }
  }
  .preview-card-footer-wrap {
    width: 96%;
    display: flex;
    justify-content: space-between;
    color: black;
    .preview-card-footer-icons-wrap {
      .fa {
        font-size: 18px;
        margin-right: 10px;
        &:hover {
          color: dodgerblue;
        }
      }
    }
    .preview-card-footer-title-album-wrap {
      text-transform: uppercase;
      color: #323232;
      font-size: 14px;
    }
  }
}

.animated {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
