.big-column {
  transition: all .45s ease-in-out;
  width: 66.4%;
  height: 812px;
  padding: 2px;
  .article-preview {
    background-size: 100%;
    transition: all .35s ease-in-out;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    &:hover {
      background-size: 120%;
      cursor: pointer;
      color: #f2ffff;
      opacity: 0.75;
    }
    background-position: center center;
  }
}