.main-page-wrap {
  .container {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    .small-column {
      width: 33%;
      padding: 2px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .info-footer-wrap {
    padding: 65px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .info-footer-title {
      width: 268px;
      text-align: center;
      &:before {
        content: '';
        display: block;
        width: 73px;
        margin: 0 auto;
        height: 1px;
        border-top: 1px solid #242427;
        margin-bottom: 20px;
      }
      .title-text {
        font-family: 'Obelix Pro';
      }
      .list-ul {
        list-style: none;
        padding: 0;
        font-family: "DejaVu Serif Condensed";
        color: gray;
        .list-li {
          transition: all .20s ease-in-out;
          padding: 5px;
          &:hover {
            cursor: pointer;
            color: black;
          }
        }
      }
      .author-avatar {
        height: 110px;
        width: 110px;
        border-radius: 50%;
      }
    }
    .about-me-text {
      transition: all .20s ease-in-out;
      font-family: "DejaVu Serif Condensed";
      color: gray;
    }
  }
}