.main-page-wrap {
  display: flex;
  flex-direction: column;
  .wrap-container {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    .small-column {
      width: 33%;
      padding: 2px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}