.medium-column {
  width: 33%;
  padding: 2px;
  .article-preview {
    background-size: 190%;
    transition: all .35s ease-in-out;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    &:hover {
      background-size: 165%;
      background-repeat: no-repeat;
      cursor: pointer;
      color: #f2ffff;
      opacity: 0.75;
    }
    background-position: center center;
  }
}