.footer {
  padding: 15px;
  font-size: 14px;
  font-family: "DejaVu Serif Condensed";
  display: flex;
  justify-content: space-between;
  .footer-icons-wrap {
    .footer-icon {
      transition: all .20s ease-in-out;
      margin-right: 5px;
      &:hover {
        cursor: pointer;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .fa-facebook-official:hover {
      color: #3b5998;
    }
    .fa-twitter:hover {
      color: dodgerblue;
    }
    .fa-instagram:hover {
      color: #bf3322;
    }
    .fa-telegram:hover {
      color: #3a79ee;
    }
  }
}